@import url('https://fonts.googleapis.com/css2?family=Narnoor&display=swap');
.master{
    overflow: hidden;
    background-color: rgba(202, 197, 187, 0.433);
    padding-top:2%;
}
.card_container{
    
    
    flex-direction:column;
    align-content:center;
    margin-top: 1%;
    padding-bottom:12%;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    height: 100%;
    
    
    box-sizing: border-box;
}
.overflow{
    overflow-y: scroll;
    height:100%;
    margin-top:2%;
}
#empty{
    width:30%;
    height:30%;
}
.empty h3, .empty h4{
    margin:0;
} 
#empty{
    margin-top:10%;
}
.list{
    background-color: rgba(202, 197, 187, 0.433);
    margin-top:5%;
    margin-bottom:5%;
    padding:3%;
    margin-right:5%;
    position:relative;
    /* box-shadow: 5px 0px 1px 1px rgba(149, 137, 113, 0.84); */

    
}
.empty h4{
    font-family: 'Ysabeau Infant', sans-serif;
}