#Selection{
    display:flex;
    flex-direction: column;  
    gap:9%;
    

    height:100%;
   
}

#toggler{
    visibility: hidden;
}

#Docs{
    display:flex;
    flex-direction: column;
    gap:9%;
    background-color: rgba(202, 197, 187, 0.433);
    
    padding:4%;
}
